@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  background-color: #111827;
  color: #f8f9fa;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

/* configuración para el nav-bar */
.nav-custom {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(250, 250, 250, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  padding: 5px 10px;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(250, 250, 250, 0.3);
}
.nav-custom a {
  color: #f8f9fa;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 0.9rem;
  transition: background 0.3s ease;
  font-weight: bold;
}
.nav-custom a:hover {
  background: rgba(250, 250, 250, 0.5);
}

/* hero seccion */
.section-full-hero {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
  padding-top: 80px;
  background: url("/img/hero-backgound-2.svg") no-repeat center bottom/cover;
}
/* Fix para Safari iOS */
@supports (-webkit-touch-callout: none) {
  .section-full-hero {
    background-attachment: scroll !important;
  }
}

/* primera sección */
.section-full {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 3rem 1rem;
  /* margin-top: 80px; */
}
.logo-hero {
  width: 240px; /* Más ancho */
  height: auto;
  margin-bottom: 1rem;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.25));
  transition: transform 0.3s ease;
}

.logo-hero:hover {
  transform: scale(1.02);
}
/* segunda sección */
.second-section {
  background: linear-gradient(to bottom, white, white);
  min-height: 100vh; /* Para que cubra toda la pantalla */
  margin: 0;
  padding: 0;
  color: black;
}
/* fuerza la optimización de renderizado en móviles */
.ml12 .letter {
  /* Fuerza la optimización de renderizado en móviles */
  will-change: transform, opacity;
  backface-visibility: hidden;
}
.text-change {
  transition: opacity 0.5s ease;
}
.btn-custom {
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  padding: 12px 30px;
  font-size: 1.2rem;
  transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}

.btn-custom:hover {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
}
.ml12 {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-family: Orbitron;
}
